.descriptions {
  & .mainsection {
    &__therapies {
      & .mainsection__block__box {
        margin: 2rem auto;

        @media screen and (min-width: 1024px) {
          margin: 4rem auto;
        }
      }
    }

    &__block__box {
      border-radius: 1rem;
      border: 1px solid $white;
      padding: 1rem;
      margin: 2rem auto;

      h3 {
        margin: 2rem auto;
      }

      &__list {
        margin: 2rem 0 2rem 2rem;

        li {
          margin: 0.5rem auto;
        }
      }

      strong {
        text-align: center;
        display: block;
      }
    }
  }
}
