.footer {
  @include flex(column, center, center);
  position: relative;
  background-color: #2d2e38;
  border-top: 1px solid $white;
  scroll-behavior: auto;
  padding: 1rem;

  .footer__list {
    list-style-type: none;
    @include flex(column, space-around, center);
    width: 50%;
    min-height: 8em;
    @include mq(tablet) {
      width: 50%;
    }
    @include mq-land(tablet) {
      width: 50%;
    }

    & li a {
      transition: 0.3s;
    }

    @media screen and (min-width: 1024px) {
      & li:hover a {
        color: $brass;
      }
    }
  }

  .footer__company {
    list-style-type: none;
    font-size: 90%;
    @include flex(column, space-around, flex-start);
    width: 50%;
    min-height: 8em;

    @media screen and (min-width: 768px) {
      @include flex(column, space-around, center);
    }

    @include mq(tablet) {
      width: 50%;
    }
    @include mq-land(tablet) {
      width: 50%;
    }

    li {
      margin-bottom: 0.25rem;
    }
  }

  .footer__copy {
    @include flex(row, center, center);
    width: 100%;
    .footer__text {
      text-align: center;
      padding: 0 20px;
      font-family: $font-titillium;
      font-weight: 700;
      color: $white;
      font-style: italic;
    }
  }
}
