.opinions {
  &__wrapper {
    width: 90%;
    background-color: $white;
    border-radius: 1rem;
    padding: 1rem;

    @media screen and (min-width: 1024px) {
      width: 60%;
      padding: 2rem;
    }

    &__inner {
      &--el {
        display: flex;
        flex-direction: column;
        height: auto;

        h3 {
          font-weight: 700;
          color: $graphite;
        }

        p {
          color: $graphite;
        }

        .stars {
          display: flex;
          width: 30%;
          align-items: center;
          justify-content: space-evenly;
          margin: auto auto 0 auto;

          @media screen and (min-width: 1024px) {
            width: 15%;
          }

          & * {
            color: gold;
          }
        }
      }
    }
  }
}
